<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoc.board.dao.BoardDAO">

	<!-- 페이지에 해당하는 공지글 조회 -->
	<select id="getBoardList" parameterType="BoardVO" resultType="BoardVO">
		SELECT P.*, D.NICKNAME
		FROM POST P
		JOIN DDOKUSER D ON P.USERIDX = D.USERIDX
		WHERE 1=1
		<if test='searchCondition == "TITLE" and searchKeyword != "" '>
			AND TITLE LIKE '%'|| #{searchKeyword} || '%' 
		</if>
		<if test='searchCondition == "CONTENT" and searchKeyword != "" '>
			AND CONTENT LIKE '%'|| #{searchKeyword} || '%' 
		</if>
		ORDER BY P.POSTIDX DESC
	</select>
	
	<!-- 전체 게시물 조회 
	<select id="getBoardList" parameterType="boardVO" resultType="boardVO">
		SELECT P.*, D.NICKNAME
		FROM POST P
		JOIN DDOKUSER D ON P.USERIDX = D.USERIDX
		ORDER BY P.POSTIDX DESC
	</select>-->
	
	<select id="getBoardListByCategory" parameterType="BoardVO" resultType="BoardVO">
    	SELECT P.*, D.NICKNAME
    	FROM POST P
    	JOIN DDOKUSER D ON P.USERIDX = D.USERIDX
    	WHERE P.CATEGORY = #{category}
    	ORDER BY P.POSTIDX DESC
	</select>
	
	<!-- 상세 게시물 조회 -->
	<select id="getBoard" parameterType="BoardVO" resultType="BoardVO">
		SELECT P.*, D.NICKNAME
		FROM POST P
		JOIN DDOKUSER D ON P.USERIDX = D.USERIDX
		WHERE POSTIDX = #{postidx}
	</select>
	
	<!-- 게시물 작성 -->
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO POST (POSTIDX, CATEGORY, TITLE, USERIDX, CONTENT, POSTDATE, HIT, IMG)
		VALUES ((SELECT NVL(MAX(POSTIDX),0) + 1 FROM POST), #{category}, #{title}, #{useridx}, #{content}, SYSDATE , 0, #{img})
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE POST
		SET CATEGORY = #{category}, TITLE = #{title}, CONTENT = #{content} 
		WHERE POSTIDX = #{postidx}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBoard" parameterType="BoardVO">
		DELETE FROM POST WHERE POSTIDX = #{postidx}
	</delete>
	
	<!-- 카테고리로 검색 -->
	<select id="category" parameterType="BoardVO" resultType="BoardVO">
		SELECT * FROM POST 
		WHERE CATEGORY LIKE '%'||?||'%' 
		ORDER BY POSTIDX DESC
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHit" parameterType="BoardVO">
		UPDATE POST
		SET HIT = HIT + 1
		WHERE POSTIDX = #{postidx}
	</update>
	
	<!-- 전체 게시글 수 조회-->
<!-- <select id="totalPostCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM POST
	</select>
 -->		
	<!-- 페이지에 해당하는 공지글 조회 -->
<!--	<select id="BoardList" parameterType="map" resultType="boardVO">
	<![CDATA[
		SELECT R.R_NUM, R.ID, R.TITLE, R.CONTENT, R.VIEWS,
		       R.CREATED, R.NAME AS staffName
		FROM (SELECT ROWNUM R_NUM, N.*
		      FROM (SELECT N.*, S.NAME
		            FROM NOTICE N
		            JOIN STAFF S ON N.STAFF_ID = S.ID
		            ORDER BY N.ID DESC
		            )N
		      WHERE ROWNUM <= #{end}
		      )R
		WHERE R.R_NUM >= #{begin}
	]]>
	</select>
  -->	
  
 
  
</mapper>