<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoc.admin.hosapproval.dao.HosApprovalDAO">
	<!-- 병원 승인(승인완료) -->
	<update id="updateApproval" parameterType="int">
		UPDATE HOSPITAL
		SET CONDITION = '승인완료'
		WHERE HOSIDX = #{hosIdx}
	</update>
	<!-- 병원 승인취소(승인전) -->
	<update id="updateBeforeApproval" parameterType="int">
		UPDATE HOSPITAL
		SET CONDITION = '승인전'
		WHERE HOSIDX = #{hosIdx}
	</update>
	
	<!-- 전체 병원 건수 cnt 조회 -->
	<select id="getTotCnt" resultType="int">
		SELECT COUNT(*)
		FROM HOSPITAL H, HOSTIME HT, HOSADDRESS HA
		WHERE H.HOSIDX = HT.HOSIDX
		AND H.HOSIDX = HA.HOSIDX
		ORDER BY H.HOSIDX DESC
	</select>
	
	<!-- 동적 처리(승인 상태/가입일자별) 병원 전체건수 cnt 조회 -->
	<select id="getAjaxTotCnt" parameterType="HosApprovalVO" resultType="int">
		SELECT COUNT(*)
		FROM HOSPITAL H, HOSTIME HT, HOSADDRESS HA
		WHERE H.HOSIDX = HT.HOSIDX
		AND H.HOSIDX = HA.HOSIDX
		<choose>
        	<when test="searchCondition == 'all'">
        		AND 1 = 1
        	</when>
        	<when test="searchCondition == 'date' and beginDate != null  and endDate != null ">
<!--         		<![CDATA[ -->
        		AND TO_CHAR(HT.OPENTIME, 'YYYYMMDD') BETWEEN #{beginDate} AND #{endDate}
<!--    				]]> -->
        	</when>
        	<when test="searchCondition == 'before'">
        		AND H.CONDITION = '승인전'
        	</when>
        	<when test="searchCondition == 'after'">
        		AND H.CONDITION = '승인완료'
        	</when>
        	<when test="searchCondition == 'payment'">
        		AND H.CONDITION = '결제완료'
        	</when>
        </choose>
        ORDER BY H.HOSIDX DESC
	</select>
	
	<!-- 병원승인 전체목록 + 페이징 처리 -->
	<select id="getHosListPage" parameterType="map" resultType="HosApprovalVO">
		SELECT * 
		FROM (
		    SELECT ROWNUM AS R_NUM, J.*
		    FROM (
		        SELECT  H.HOSIDX, H.HOSID, H.HOSPW, H.HOSNAME, H.HOSPHONE
		        		, H.ANIMAL, H.SCORE, H.CONDITION, H.CERTIFICATEIMG
		        		, A.ADDRESSNAME, A.ROADADDRESSNAME, A.DETAILADDRESS
		        		, T.OPENTIME, T.CLOSETIME, T.LUNCHTIME, T.ENDLUNCHTIME
		        		, T.SATOPENTIME, T.SATCLOSETIME, T.SATLUNCHTIME, T.SATENDLUNCHTIME
		        		, T.SUNOPENTIME, T.SUNCLOSETIME, T.SUNLUNCHTIME, T.SUNENDLUNCHTIME
		        		, T.LUNCHOFF, T.SATLUNCHOFF, T.SUNDAYOFF, T.SUNLUNCHOFF
		        FROM HOSPITAL H
		        JOIN HOSADDRESS A ON A.HOSIDX = H.HOSIDX
		        JOIN HOSTIME T ON T.HOSIDX = H.HOSIDX
		        ORDER BY H.HOSIDX DESC
		    ) J
		    <![CDATA[
		    WHERE ROWNUM <= #{end}
		) 
		WHERE R_NUM >= #{begin}
		]]>
	</select>
	
	<!-- 동적 처리(승인 상태/가입일자) & 페이징 처리 -->
	<select id="getHosSearchPage" parameterType="map" resultType="HosApprovalVO">
		SELECT * 
		FROM (
		    SELECT ROWNUM AS R_NUM, J.*
		    FROM (
		        SELECT  H.HOSIDX, H.HOSID, H.HOSPW, H.HOSNAME, H.HOSPHONE
		        		, H.ANIMAL, H.SCORE, H.CONDITION, H.CERTIFICATEIMG
		        		, A.ADDRESSNAME, A.ROADADDRESSNAME, A.DETAILADDRESS
		        		, T.OPENTIME, T.CLOSETIME, T.LUNCHTIME, T.ENDLUNCHTIME
		        		, T.SATOPENTIME, T.SATCLOSETIME, T.SATLUNCHTIME, T.SATENDLUNCHTIME
		        		, T.SUNOPENTIME, T.SUNCLOSETIME, T.SUNLUNCHTIME, T.SUNENDLUNCHTIME
		        		, T.LUNCHOFF, T.SATLUNCHOFF, T.SUNDAYOFF, T.SUNLUNCHOFF
		        FROM HOSPITAL H
		        JOIN HOSADDRESS A ON A.HOSIDX = H.HOSIDX
		        JOIN HOSTIME T ON T.HOSIDX = H.HOSIDX
		        <choose>
		        	<when test="searchCondition == 'all'">
		        		WHERE 1 = 1
		        	</when>
		        	<when test="searchCondition == 'date' and beginDate != ''  and endDate != '' ">
		        		<![CDATA[
		        		WHERE TO_CHAR(T.OPENTIME, 'YYYYMMDD') >= #{beginDate}
           				  AND TO_CHAR(T.OPENTIME, 'YYYYMMDD') <= #{endDate}
          				]]>
		        	</when>
		        	<when test="searchCondition == 'before'">
		        		WHERE H.CONDITION = '승인전'
		        	</when>
		        	<when test="searchCondition == 'after'">
		        		WHERE H.CONDITION = '승인완료'
		        	</when>
		        	<when test="searchCondition == 'payment'">
		        		WHERE H.CONDITION = '결제완료'
		        	</when>
		        </choose>
		        ORDER BY H.HOSIDX DESC
		    ) J
		    <![CDATA[
		    WHERE ROWNUM <= #{end}
		) 
		WHERE R_NUM >= #{begin}
		]]>
	</select>
	
</mapper>