<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoc.mypet.dao.MyPetDAO">
	
	<!-- 마이펫 조회 -->
	<select id="getMyPetList" parameterType="MyPetVO" resultType="MyPetVO">
		SELECT PETIDX, USERIDX, ANIMAL, PETNAME, PETAGE, PETIMG
		FROM MYPET
		WHERE USERIDX = #{userIdx}
	</select>
	
	<!-- 선택펫 조회 -->
	<select id="getMyPet" parameterType="MyPetVO" resultType="MyPetVO">
		SELECT PETIDX, USERIDX, ANIMAL, PETNAME, PETAGE, PETIMG
		FROM MYPET
		WHERE PETIDX = #{petIdx}
	</select>
	
	<!-- 마이펫 등록 -->
	<insert id="insertMyPet" parameterType="MyPetVO">
		INSERT INTO MYPET (PETIDX, USERIDX, ANIMAL, PETNAME, PETAGE, PETIMG)
		VALUES (SEQ_PETIDX.NEXTVAL, #{userIdx}, #{animal}, #{petName}, #{petAge}, #{petImg})	
	</insert>
	
	<!-- 마이펫 수정 -->
    <update id="updateMyPet" parameterType="MyPetVO">
        UPDATE MYPET
        SET ANIMAL = #{animal}, PETNAME = #{petName}, PETAGE = #{petAge}, PETIMG = #{petImg}
        WHERE PETIDX = #{petIdx}
    </update>   
	
	<!-- 마이펫 삭제 -->
	<delete id="deleteMyPet" parameterType="int">
		DELETE FROM MYPET
		WHERE PETIDX = #{petIdx}		
	</delete>
	
</mapper>
