<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoc.reservation.dao.ReservationDAO">
	
	<!-- 병원 전체 예약 내역 -->
    <select id="getReservationList" parameterType="ReservationVO" resultType="ReservationVO">
        SELECT *
        FROM RESERVATION
        WHERE HOSIDX = #{hosIdx}
    </select>
    
    <!-- 특정날짜 예약 내역 -->
    <select id="getDateReservationList" parameterType="ReservationVO" resultType="ReservationVO">
		SELECT *
		FROM RESERVATION
		WHERE HOSIDX = #{hosIdx}
		AND TO_CHAR(RESERDATE, 'YYYY-MM-DD') = TO_CHAR(#{reserDate}, 'YYYY-MM-DD')
		AND CONDITION = 'RESERVATION'
        <!-- SELECT *
		FROM RESERVATION
		WHERE HOSIDX = #{hosIdx}
		AND RESERDATE = #{reserDate} -->
    </select>
    
    <!-- reserIdx로 예약 1개 조회 -->
    <select id="getReservation" parameterType="ReservationVO" resultType="ReservationVO">
    	SELECT R.RESERIDX, R.HOSIDX, R.USERIDX, R.PETIDX, R.RESERDATE, R.RESERTIME, R.MEMO, R.CONDITION, R.GUARDIAN, R.GUARDIANPHONE, H.HOSNAME, P.PETNAME
		FROM RESERVATION R, HOSPITAL H, MYPET P
    	WHERE RESERIDX = #{reserIdx}
    	AND R.HOSIDX = H.HOSIDX
		AND R.PETIDX = P.PETIDX
    </select>
    
    <!-- 예약 등록 -->
    <insert id="insertReservation" parameterType="ReservationVO">
    	INSERT INTO RESERVATION (RESERIDX, HOSIDX, USERIDX, 
    								PETIDX, RESERDATE, RESERTIME, 
    								MEMO, CONDITION, GUARDIAN, GUARDIANPHONE)          
		VALUES (SEQ_RESERIDX.NEXTVAL, #{hosIdx}, #{userIdx}, 
					#{petIdx}, #{reserDate}, #{reserTime}, 
					#{memo}, 'RESERVATION', #{guardian}, #{guardianPhone})   
		<selectKey keyProperty="reserIdx" resultType="int" order="AFTER">
		     SELECT SEQ_RESERIDX.CURRVAL FROM DUAL
		</selectKey>			
    </insert>
    
    <!-- USER의 예약 리스트 -->
    <select id="myReserList" parameterType="int" resultType="ReservationVO">
    <![CDATA[	
		SELECT ROWNUM, T.*
		FROM (SELECT R.*, H.HOSNAME HOSNAME, P.PETNAME PETNAME
				FROM RESERVATION R, HOSPITAL H, MYPET P
				WHERE R.USERIDX = #{userIdx}
				AND R.RESERDATE >= SYSDATE-1
				AND R.HOSIDX = H.HOSIDX
				AND R.PETIDX = P.PETIDX
				AND R.CONDITION = 'RESERVATION'
				ORDER BY RESERDATE ) T 
	]]>			
    </select>
    
    <!-- 지난예약 조회 -->
    <select id="myOldReserList" parameterType="int" resultType="ReservationVO">
    <![CDATA[	
		SELECT ROWNUM, T.*
		FROM (SELECT R.*, H.HOSNAME HOSNAME, P.PETNAME PETNAME
				FROM RESERVATION R, HOSPITAL H, MYPET P
				WHERE R.USERIDX = #{userIdx}
				AND R.HOSIDX = H.HOSIDX
				AND R.PETIDX = P.PETIDX
				AND R.CONDITION='FINISH'
				ORDER BY RESERDATE DESC) T
	]]>
    </select>
    
    <!-- 예약 취소 -->
    <update id="cancleReservaion" parameterType="int">
    	UPDATE RESERVATION
		SET CONDITION='CANCLE'
		WHERE RESERIDX = #{reserIdx}
    </update>
    
    <!-- 취소한 예약 리스트 -->
    <select id="myCancleReserList" parameterType="int" resultType="ReservationVO">
    	SELECT ROWNUM, R.*, H.HOSNAME HOSNAME, P.PETNAME PETNAME
		FROM RESERVATION R, HOSPITAL H, MYPET P
		WHERE R.USERIDX = #{hosIdx}
		AND R.HOSIDX = H.HOSIDX
		AND R.PETIDX = P.PETIDX
		 AND R.CONDITION='CANCLE'
    </select>
    
    <!-- 예약 변경 -->
    <update id="updateReservation" parameterType="ReservationVO">
    	UPDATE RESERVATION
		SET RESERDATE = #{reserDate},
			RESERTIME = #{reserTime},
			MEMO = #{memo},
			GUARDIAN = #{guardian},
   			GUARDIANPHONE  = #{guardianPhone}
		WHERE RESERIDX = #{reserIdx}
    </update>
    
<select id="userReserList" parameterType="map" resultType="ReservationVO">
    SELECT *
    FROM (
        SELECT ROWNUM AS R_NUM, R.*
        FROM (
            SELECT R.*, H.HOSNAME HOSNAME, P.PETNAME PETNAME
            FROM RESERVATION R
            JOIN HOSPITAL H ON R.HOSIDX = H.HOSIDX
            JOIN MYPET P ON R.PETIDX = P.PETIDX AND R.USERIDX = P.USERIDX
            WHERE R.USERIDX = #{userIdx}
            <if test="condition != null and condition != 'all'">
                AND R.CONDITION = #{condition}
            </if>
            ORDER BY R.RESERDATE DESC
        ) R
         <![CDATA[
        WHERE ROWNUM <= #{end}
    )
    WHERE R_NUM >= #{begin}
    ]]>
</select>

<!-- 	회원 모든 예약 건수 -->
	<select id="getResTotCnt" resultType="int">
	SELECT COUNT(*)
	FROM RESERVATION 
	WHERE USERIDX = #{userIdx}
	</select>
	
<!-- 	동적처리 예약 건수 -->
	<select id="getResTotCntByCondition" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM RESERVATION 
		WHERE USERIDX = #{userIdx}
		AND 1 = 1
		<choose>
			<when test="condition == 'RESERVATION'">
			AND CONDITION = 'RESERVATION'
			</when>
			<when test="condition == 'CANCLE'">
			AND CONDITION = 'CANCLE'
			</when>
			<when test="condition == 'FINISH'">
			AND CONDITION = 'FINISH'
			</when>
			<when test="condition == 'REVIEW'">
			AND CONDITION = 'REVIEW'
			</when>
		</choose>
	</select>
    

    <!-- 병원 예약 현황 -->
    <select id="getHosReserList" parameterType="int" resultType="ReservationVO">
    	SELECT R.*, U.NAME, U.BIRTH,U.PHONE
		FROM RESERVATION R, DDOKUSER U
		WHERE R.USERIDX = U.USERIDX
		AND R.HOSIDX = #{hosIdx}
    </select>
    
	<!-- 특정날짜 예약 내역 (pet 추가) -->
    <select id="getDatePetReserList" parameterType="ReservationVO" resultType="ReservationVO">
		SELECT R.*, P.PETNAME, P.ANIMAL, P.PETAGE
		FROM RESERVATION R, MYPET P
		WHERE R.PETIDX = P.PETIDX
		AND HOSIDX = #{hosIdx}
		AND TO_CHAR(RESERDATE, 'YYYY-MM-DD') = TO_CHAR(#{reserDate}, 'YYYY-MM-DD')
    </select>
    
    <!-- 진료 완료 처리 -->
    <update id="updateComplete" parameterType="int">
    	UPDATE RESERVATION 
		SET CONDITION = 'FINISH'
		WHERE RESERIDX = #{reviewIdx}
    </update>
    	
</mapper>
