<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoc.reservation.dao.ReservationDAO">
	
	<!-- 병원 전체 예약 -->
    <select id="getReservationList" parameterType="ReservationVO" resultType="ReservationVO">
        SELECT *
        FROM RESERVATION
        WHERE HOSIDX = #{hosIdx}
    </select>
    
    <!-- 특정날짜 예약 -->
    <select id="getDateReservationList" parameterType="ReservationVO" resultType="ReservationVO">
		SELECT RESERIDX, HOSIDX, USERIDX, PETIDX, RESERDATE, RESERTIME, MEMO
		FROM RESERVATION
		WHERE HOSIDX = #{hosIdx}
		AND TO_CHAR(RESERDATE, 'YYYY-MM-DD') = TO_CHAR(#{reserDate}, 'YYYY-MM-DD')

        <!-- SELECT *
		FROM RESERVATION
		WHERE HOSIDX = #{hosIdx}
		AND RESERDATE = #{reserDate} -->
    </select>
    
    <!-- 예약내역가져오기 -->
    <select id="getReservation" parameterType="ReservationVO" resultType="ReservationVO">
    	SELECT *
    	FROM RESERVATION
    	WHERE RESERIDX = #{reserIdx}
    </select>
    
    <!-- 예약 등록 -->
    <insert id="insertReservation" parameterType="ReservationVO">
    	INSERT INTO RESERVATION (RESERIDX, HOSIDX, USERIDX, 
    								PETIDX, RESERDATE, RESERTIME, 
    								MEMO)          
		VALUES (SEQ_RESERIDX.NEXTVAL, #{hosIdx}, #{userIdx}, 
					#{petIdx}, #{reserDate}, #{reserTime}, 
					#{memo})   
		<selectKey keyProperty="reserIdx" resultType="int" order="AFTER">
		     SELECT SEQ_RESERIDX.CURRVAL FROM DUAL
		</selectKey>			
    </insert>
</mapper>
