<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todoc.stats.dao.StatsDAO">

    <!-- 날짜별 조회 -->
    <select id="getStatsByDate" parameterType="map" resultType="HosStatsVO">
        <![CDATA[
        SELECT HOSPITAL.HOSIDX, HOSPITAL.HOSNAME, HOSREG.REGSTART, HOSREG.REGEND
        FROM HOSREG 
        JOIN HOSPITAL ON HOSREG.HOSIDX = HOSPITAL.HOSIDX
        WHERE HOSREG.REGSTART >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
          AND HOSREG.REGEND <= TO_DATE(#{endDate}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
        ]]>
    </select>
	
    <!-- 병원 월별 수익 조회 -->
    <select id="getHosMonthlyRevenue" parameterType="map" resultType="HashMap">
        <![CDATA[
        SELECT
            TO_CHAR(REGSTART, 'YYYY-MM') AS MONTH,
            SUM(CASE 
                    WHEN TO_CHAR(REGSTART, 'YYYY-MM') = TO_CHAR(REGSTART, 'YYYY-MM') THEN 100000
                    ELSE 0 
                END) AS TOTAL_PAY
        FROM (
            SELECT HOSREG.HOSIDX, HOSREG.REGSTART
            FROM HOSREG
            JOIN HOSPITAL ON HOSREG.HOSIDX = HOSPITAL.HOSIDX
            WHERE HOSREG.REGSTART >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
              AND HOSREG.REGEND <= TO_DATE(#{endDate}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
        ) 
        GROUP BY TO_CHAR(REGSTART, 'YYYY-MM')
        ORDER BY TO_CHAR(REGSTART, 'YYYY-MM')
        ]]>
    </select>
    
    <!-- 유저 월별 수익 조회 -->
    <select id="getUserMonthlyRevenue" parameterType="map" resultType="HashMap">
        <![CDATA[
        SELECT
            TO_CHAR(MEMSTART, 'YYYY-MM') AS MONTH,
            SUM(CASE 
                    WHEN TO_CHAR(MEMSTART, 'YYYY-MM') = TO_CHAR(MEMSTART, 'YYYY-MM') THEN 1000
                    ELSE 0 
                END) AS TOTAL_PAY
        FROM (
            SELECT USERMEMBER.USERIDX, USERMEMBER.MEMSTART
            FROM USERMEMBER
            JOIN DDOKUSER ON USERMEMBER.USERIDX = DDOKUSER.USERIDX
            WHERE USERMEMBER.MEMSTART >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
              AND USERMEMBER.MEMEND <= TO_DATE(#{endDate}, 'YYYY-MM-DD') + INTERVAL '1' DAY - INTERVAL '1' SECOND
        ) 
        GROUP BY TO_CHAR(MEMSTART, 'YYYY-MM')
        ORDER BY TO_CHAR(MEMSTART, 'YYYY-MM')
        ]]>
    </select>
	
    <!-- 계정별 조회 -->
    <select id="getStatsById" parameterType="String" resultType="HosStatsVO">
        SELECT HOSPITAL.HOSIDX, HOSPITAL.HOSNAME, HOSREG.REGSTART, HOSREG.REGEND
        FROM HOSREG 
        JOIN HOSPITAL ON HOSREG.HOSIDX = HOSPITAL.HOSIDX
        WHERE HOSPITAL.HOSIDX = #{hosId}
    </select>
    
    <!-- 유저 가입자 수-->
    
    <!-- 병원 가입자 수 -->
	
</mapper>
